/**
 * Navigation bar.
 */
%main-menu {
  background-color: transparent;
  padding: rhythm(1) 0;
  width: 100%;
  margin: 0;
  padding: 0;
  @include respond-to($medium) {}
}

// Top level li
%main-menu__top {
  @include respond-to($medium, max-width) {
    
  }
  @include respond-to($medium) {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    
    input {
      display: none;
      visibility: hidden;
    }
  }
  @include respond-to($large) {}
  
  &:hover,
  &:focus {
    > a {
      outline: 0;
      @include respond-to($medium) {
        margin: 0;
      }
    }
  }
}

// Top level links
%main-menu__top-links {
  @include adjust-font-size-to( 18px, 1 );
  outline: none;
  text-transform: uppercase;
  padding: 1em 1.5em;
  display: block;
  font-weight: normal;
  font-family: $sans-serif;
  &:link,
  &:visited {
    outline: 0;
    color: $grey;
    text-decoration: none;
  }
  &:active {
    background-color: $black;
    outline: 0;
    color: $white;
  }
  @include respond-to($medium) {
    @include transition(all 300ms ease);
    background-color: transparent;
    display: inline-block;
  }
}

// Dropdown
%main-menu__submenu {
  display: none;
  background-color: white;
  margin: 0;
  @include respond-to($medium) {
    @include box-sizing(border-box);
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 9;
    min-width: 220px;
    
    li:last-child & {
      left: auto;
      right: 0;
    }
  }
}

// Dropdown links
%main-menu__submenu-links {
  color: $blue;
  display: block;
  padding: 10px 20px;
  text-align: left;
  
  &:hover,
  &:focus {
    background-color: rgba(74, 130, 148, 0.2);
  }
}

// Menu Region Styles
.w-navigation {
  border-top: 5px solid tint($grey, 20%);
  margin-top: 1.5em;
}

#main-menu {
  text-align: center;
  position: relative;
  outline: none !important;
  z-index: 5;
  
  * {
    &:focus {
      outline: none !important;
    }
  }
  
  @include respond-to($medium) {
    padding: 0;
    
    #toggle-button,
    [for="toggle-button"] {
      @include element-invisible;
    }
  }
  .block {
    margin-bottom: 0;
  }

  ul,
  li {
    list-style-type: none;
    list-style-image: none;
  }

  /* Main menu and secondary menu links and menu block links. */
  .menu--main-menu {
    @extend %main-menu;
    // Top level menu items
    > .level-1 {
      @extend %main-menu__top;
      > a {
        @extend %main-menu__top-links;
      }
      // Hello subnav!
      &.clicked ul {
        display: block;
      }
    }
    // Submenu
    ul {
      @extend %main-menu__submenu;
      > .level-2 {
        > a {
          @extend %main-menu__submenu-links;
        }
      }
    }
  }
}

#main-menu {
  position: relative;
  outline: none !important;
  
  * {
    &:focus {
      outline: none !important;
    }
  }
  
  @include respond-to($medium, max-width) {
    > ul.menu--main-menu {
      @include transform(scaleY(0));
      @include transform-origin(50%, 0%);
      @include transition-property(transform max-height);
      @include transition-duration(600ms);
      @include transition-delay(0ms);
      max-height: 0;
      height:100%;
    }
  
    label[for="toggle-button"] {
      width: 40px;
      height: 49px;
      margin: 10px 20px;
      display: block;
      background: url(../images/hamburger.png) no-repeat center;
      position: absolute;
      right: 0;
      bottom: 100%;
      @include respond-to($medium) {
        display: none;
        visibility: hidden;
      }
    }
    
    input#toggle-button[type=checkbox]:checked ~ label[for="toggle-button"] {
      color: $off-white;
      
      &:after {
        background-color: $grey;
        color: $off-white;
      }
    }
    
    input#toggle-button[type=checkbox]:checked ~ ul.menu--main-menu {
      @include box-shadow(0 2px 32px 3px rgba($grey, 0.7));
      @include transform(scaleY(1));
      @include transform-origin(0%, 0%);
      @include transition-property(transform max-height);
      @include transition-duration(600ms);
      @include transition-delay(0ms);
      max-height: 9999px;
    }
  }
  
  input#toggle-button[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}

#main-menu .menu--main-menu .dropdown {
  position: relative;

  @include respond-to($medium, max-width) {
    [data-toggle="dropdown"] {
      display: block;
      padding: 10px;
      
      &:before {
        @include transition(transform 300ms);
        @include transform(rotate(0deg));
        position: absolute;
        display: block;
        content: '\25BC';
        font-size: 0.7em;
        top: 1em;
        right: 1.5em;
        z-index: 1;
      }
      
      &:after {
        background-color: rgba($light-grey, 0.3);
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 44px;
        min-width: 44px;
        height: 100%;
        max-height: 44px;
        cursor: pointer;
        z-index: 2;
      }
    }
    
    > .dropdown-menu {
      @include transform(scaleY(0));
      @include transform-origin(50%, 0%);
      @include transition-property(max-height, transform);
      @include transition-duration(600ms, 300ms);
      @include transition-delay(0s, 0s);
      max-height: 0;
      overflow: hidden;
      background-color: rgba($light-grey, 0.3);
      display: block;
      margin: 0;
      padding: 0;
  
      li {
        padding: 0;
  
        a {
          display: block;
          padding: 10px 10px;
        }
      }
    }
    
    > input[type="checkbox"] {
      opacity: 0;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 44px;
      min-width: 44px;
      height: 100%;
      max-height: 44px;
      cursor: pointer;
      z-index: 3;
      
      &:checked ~ .dropdown-menu {
        @include transform(scaleY(1));
        @include transition-property(max-height, transform);
        @include transition-duration(600ms, 300ms);
        @include transition-delay(0s, 0s);
        max-height: 9999px;
        /* height: auto; */
      }
        
      &:checked + a[data-toggle="dropdown"] {
        &:before {
          @include transform(rotate(-180deg));
        }
      }
    }
  }
  
  @include respond-to($medium) {
    > input[type="checkbox"] {
      display: none;
      visibility: hidden;
      opacity: 0;
    }
    
    [data-toggle="dropdown"] {
      position: relative;
      
      &:before,
      &:after {
        display: none;
      }
      
      i {
        background: url(../images/dropdown.png) no-repeat center center transparent;
        display: inline-block;
        position: absolute;
        width: 18px;
        height: 10px;
        margin-left: -9px;
        vertical-align: top;
        top: 100%;
        left: 50%;
        opacity: 0.2;
      }
    }
    
    .dropdown-menu {
      @include transform(scaleY(0));
      @include transform-origin(50%, 0%);
      @include transition-property(max-height, transform);
      @include transition-duration(600ms, 300ms);
      @include transition-delay(0s, 0s);
      display: block;
      max-height: 0;
      top: 100%;
    }
      
    &:hover,
    &:focus {
      overflow: visible;
      
      > .dropdown-menu {
        @include transform(scaleY(1));
        @include transition-property(max-height, transform);
        @include transition-duration(600ms, 300ms);
        @include transition-delay(0s, 0s);
        max-height: 9999px;
      }
      
      .theme-icon-arrow-down {}
    }
  }
}
