%texty-element {
	border: {
		width: $large-border-width;
		style: solid;
		color: $light-grey;
		radius: $small-border-radius;
	}
	padding: 6px 11px;
	&:hover {
		border-color: $grey;
	}
}
fieldset {
	border: {
		width: $small-border-width;
		color: $light-grey;
		radius: $small-border-radius;
	}
}
label {
	.form-item & {
		font-family: $header-font-family;
		font-size: $h4-font-size;
	}
	&.option {
		font-family: $sans-serif;
		font-size: $base-font-size;
	}
}
input {
	&[type=text],
	&[type=email],
	&[type=url],
	&[type=number],
	&[type=tel] {
		@extend %texty-element;
	}
}
textarea {
	@extend %texty-element;
}