%texty-element {
	border: {
		width: 2px;
		style: solid;
		color: $light-grey;
		radius: 4px;
	}
	padding: 6px 11px;
}
label {
	.form-item & {
		font-family: $header-font-family;
		font-size: $h4-font-size;
	}
	&.option {
		font-family: $sans-serif;
		font-size: $base-font-size;
	}
}
input {
	&[type=text],
	&[type=email],
	&[type=url],
	&[type=number],
	&[type=tel] {
		@extend %texty-element;
	}
}
textarea {
	@extend %texty-element;
}