// unclassified table
td, th {
	background-color: transparent;
	border-bottom: 1px solid $light-grey;	
}
th {
	@extend h4;
	background-color: transparent;
	border-bottom: 1px solid $light-grey;
}

// striped table
tr {
	&.odd {
		background-color: $pale-blue;
	}
	&.even {
		background-color: $white;
	}
}