.header--intro {
  text-align: center;
  padding: 0 1.5em;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.header--intro__heading,
.venue--map {
  padding: 1.5em 0;
}

.maintenance-page {
  .block--links {
    text-align: center;
  }
}