$black: #1a1a1a;
$white: #fcfcfc;
$off-white: #ececec;

$true-black: #000;
$true-white: #fff;

// New Theme Colors
$blacknblue: #012233;
$blue: #138ab5;
$light-blue: #add6f2;
$green: #8ab513;
$magenta: #b5138a;

$light-grey: #E2E2E2;
$grey: #929292;
$dark-grey: #2a282b;

// Old Theme Colors
$brown: rgb(89, 74, 56);
// $grey: rgb(126, 126, 126);
$red: rgb(237, 28, 36);
$purple: rgb(146, 39, 143);
$peach: rgb(241, 150, 73);
$yellow: rgb(248, 237, 55);
$pink: rgb(218, 28, 92);
$green: rgb(194, 217, 85);
// $blue: rgb(28, 117, 188);
// $light-blue: rgb(88, 183, 221);

$link-blue: rgb(15, 117, 188);
$link-blue_over: rgb(10, 65, 104);