/**
 * functions
 */
/**
 * Respond to mixin for use with susy grids and breakpoint
 */
/**
 * Utility Mixins
 */
/*******************************************************************************
 * wrappers.layout.scss
 *
 * Styling of the "wrappers" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/layouts\/wrappers\/wrappers\.layout\.scss}line{font-family:\0000330}}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/layouts\/wrappers\/wrappers\.layout\.scss}line{font-family:\0000334}}
.page,
.zone {
  width: 100%;
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/layouts\/wrappers\/wrappers\.layout\.scss}line{font-family:\0000340}}
.l-header {
  position: relative; }

/* .l-header, */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/layouts\/wrappers\/wrappers\.layout\.scss}line{font-family:\0000357}}
.l-branding,
.l-navigation,
.l-breadcrumb,
.l-highlight,
.l-preface,
.l-main,
.l-postscript,
.l-footer,
.l-footer-sub {
  *zoom: 1;
  max-width: 71.6em;
  _width: 71.6em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/\.rbenv\/versions\/1\.9\.3-p194\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.0\.alpha\.19\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .l-branding:after,
  .l-navigation:after,
  .l-breadcrumb:after,
  .l-highlight:after,
  .l-preface:after,
  .l-main:after,
  .l-postscript:after,
  .l-footer:after,
  .l-footer-sub:after {
    content: "";
    display: table;
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/layouts\/wrappers\/wrappers\.layout\.scss}line{font-family:\0000373}}
.l-branding {
  text-align: center;
  /*
    @include respond-to($medium) {
      @include span-columns(12);
    }
  */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/layouts\/wrappers\/wrappers\.layout\.scss}line{font-family:\0000382}}
  .l-branding .site-logo img {
    width: 100%;
    height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/layouts\/wrappers\/wrappers\.layout\.scss}line{font-family:\0000388}}
.l-region--header {
  /*
    position: relative;
    @include respond-to($medium) {
      @include span-columns(12);
    }
  */ }

@media screen and (min-width: 56.25em) {
  /* Content Area */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/layouts\/wrappers\/wrappers\.layout\.scss}line{font-family:\00003102}}
  .l-content {
    width: 100%;
    float: left;
    margin-right: 1.5625%;
    display: inline; }

  /* Sidebars */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/layouts\/wrappers\/wrappers\.layout\.scss}line{font-family:\00003107}}
  .has-one-sidebar .l-content {
    width: 66.14583%;
    float: left;
    margin-right: 1.5625%;
    display: inline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/layouts\/wrappers\/wrappers\.layout\.scss}line{font-family:\00003110}}
  .has-one-sidebar .l-sidebar-first,
  .has-one-sidebar .l-sidebar-second {
    width: 32.29167%;
    float: left;
    margin-right: 1.5625%;
    display: inline;
    float: right;
    margin-right: 0;
    *margin-left: -1.2em;
    display: inline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/layouts\/wrappers\/wrappers\.layout\.scss}line{font-family:\00003117}}
  .has-two-sidebars .l-sidebar-first {
    width: 23.82812%;
    float: left;
    margin-right: 1.5625%;
    display: inline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/layouts\/wrappers\/wrappers\.layout\.scss}line{font-family:\00003120}}
  .has-two-sidebars .l-content {
    width: 40.75521%;
    float: left;
    margin-right: 1.5625%;
    display: inline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/layouts\/wrappers\/wrappers\.layout\.scss}line{font-family:\00003123}}
  .has-two-sidebars .l-sidebar-second {
    width: 32.29167%;
    float: left;
    margin-right: 1.5625%;
    display: inline;
    float: right;
    margin-right: 0;
    *margin-left: -1.2em;
    display: inline; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/layouts\/wrappers\/wrappers\.layout\.scss}line{font-family:\00003134}}
.l-region--help,
.l-sidebar-first,
.l-sidebar-second {
  margin-bottom: 1.5em; }
