/* @import "breakpoint"; */
/**
 * functions
 */
/**
 * Respond to mixin for use with susy grids and breakpoint
 */
/**
 * Utility Mixins
 */
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("http://fonts.googleapis.com/css?family=Abril+Fatface");
@import url("http://fonts.googleapis.com/css?family=Droid+Sans:300,400,700");
@import url("http://fonts.googleapis.com/css?family=Droid+Serif:300,400,700,400italic,700italic");
@font-face {
  font-family: 'MisoRegular';
  src: url("../fonts/Miso/Miso Regular/miso-regular-webfont.eot");
  src: url("../fonts/Miso/Miso Regular/miso-regular-webfont?#iefix") format("embedded-opentype"), url("../fonts/Miso/Miso Regular/miso-regular-webfont.woff") format("woff"), url("../fonts/Miso/Miso Regular/miso-regular-webfont.ttf") format("truetype"), url("../fonts/Miso/Miso Regular/miso-regular-webfont.svg#misoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'MisoLight';
  src: url("../fonts/Miso/Miso Light/miso-light-webfont.eot");
  src: url("../fonts/Miso/Miso Light/miso-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Miso/Miso Light/miso-light-webfont.woff") format("woff"), url("../fonts/Miso/Miso Light/miso-light-webfont.ttf") format("truetype"), url("../fonts/Miso/Miso Light/miso-light-webfont.svg#misolight") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'MisoBold';
  src: url("../fonts/Miso/Miso Bold/miso-bold-webfont.eot");
  src: url("../fonts/Miso/Miso Bold/miso-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Miso/Miso Bold/miso-bold-webfont.woff") format("woff"), url("../fonts/Miso/Miso Bold/miso-bold-webfont.ttf") format("truetype"), url("../fonts/Miso/Miso Bold/miso-bold-webfont.svg#misobold") format("svg");
  font-weight: 700;
  font-style: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_lists\.scss}line{font-family:\000031}}
.links__inline {
  list-style: none outside none;
  margin: 0;
  padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_lists\.scss}line{font-family:\000036}}
  .links__inline li {
    border-bottom: 1px solid rgba(146, 146, 146, 0.3);
    padding: 0.5em 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_lists\.scss}line{font-family:\0000310}}
    .links__inline li:last-child {
      border-bottom: medium none; }
  @media screen and (min-width: 56.25em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_lists\.scss}line{font-family:\000031}}
    .links__inline {
      margin-top: 1em;
      padding-left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003164}}
      .links__inline > li {
        display: inline-block !important;
        list-style: none outside none !important;
        text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003169}}
        .links__inline > li a {
          border-right: 1px solid #929292;
          display: inline-block;
          line-height: 1;
          padding-right: 0.625em;
          margin-right: 0.625em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003177}}
        .links__inline > li:first-child a {
          padding-left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003181}}
        .links__inline > li:last-child a {
          border-right: medium none;
          margin-right: 0;
          padding-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003187}}
        .links__inline > li > ul {
          display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_lists\.scss}line{font-family:\0000318}}
      .links__inline li {
        border-bottom: medium none;
        padding: 0 0.5em; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_typography\.scss}line{font-family:\000034}}
h1 {
  font-size: pem(40px);
  font-family: "MisoRegular";
  font-style: normal;
  color: #012233;
  line-height: 1.23;
  letter-spacing: 0;
  font-weight: 400;
  margin-top: 0.325em;
  margin-bottom: 0.625em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_typography\.scss}line{font-family:\0000316}}
  h1 a:link, h1 a:visited {
    color: #0f75bc;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_typography\.scss}line{font-family:\0000322}}
  h1 a:link, h1 a:visited, h1 a:hover, h1 a:focus, h1 a:active, h1 a.active, h1 a.active-trail {
    display: inline-block;
    vertical-align: bottom;
    font-family: "MisoRegular"; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_typography\.scss}line{font-family:\0000334}}
  h1 a:hover, h1 a:focus {
    color: #0a4168; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_typography\.scss}line{font-family:\000034}}
h2 {
  font-size: pem(32px);
  font-family: "MisoRegular";
  font-style: normal;
  color: #012233;
  line-height: 1.23;
  letter-spacing: 0;
  font-weight: 400;
  margin-top: 0.325em;
  margin-bottom: 0.625em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_typography\.scss}line{font-family:\0000316}}
  h2 a:link, h2 a:visited {
    color: #0f75bc;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_typography\.scss}line{font-family:\0000322}}
  h2 a:link, h2 a:visited, h2 a:hover, h2 a:focus, h2 a:active, h2 a.active, h2 a.active-trail {
    display: inline-block;
    vertical-align: bottom;
    font-family: "MisoRegular"; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_typography\.scss}line{font-family:\0000334}}
  h2 a:hover, h2 a:focus {
    color: #0a4168; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_typography\.scss}line{font-family:\000034}}
h3 {
  font-size: pem(24px);
  font-family: "MisoRegular";
  font-style: normal;
  color: #012233;
  line-height: 1.23;
  letter-spacing: 0;
  font-weight: 400;
  margin-top: 0.325em;
  margin-bottom: 0.625em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_typography\.scss}line{font-family:\0000316}}
  h3 a:link, h3 a:visited {
    color: #0f75bc;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_typography\.scss}line{font-family:\0000322}}
  h3 a:link, h3 a:visited, h3 a:hover, h3 a:focus, h3 a:active, h3 a.active, h3 a.active-trail {
    display: inline-block;
    vertical-align: bottom;
    font-family: "MisoRegular"; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_typography\.scss}line{font-family:\0000334}}
  h3 a:hover, h3 a:focus {
    color: #0a4168; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_typography\.scss}line{font-family:\000034}}
h4 {
  font-size: pem(20px);
  font-family: "MisoRegular";
  font-style: normal;
  color: #012233;
  line-height: 1.23;
  letter-spacing: 0;
  font-weight: 400;
  margin-top: 0.325em;
  margin-bottom: 0.625em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_typography\.scss}line{font-family:\0000316}}
  h4 a:link, h4 a:visited {
    color: #0f75bc;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_typography\.scss}line{font-family:\0000322}}
  h4 a:link, h4 a:visited, h4 a:hover, h4 a:focus, h4 a:active, h4 a.active, h4 a.active-trail {
    display: inline-block;
    vertical-align: bottom;
    font-family: "MisoRegular"; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_typography\.scss}line{font-family:\0000334}}
  h4 a:hover, h4 a:focus {
    color: #0a4168; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_typography\.scss}line{font-family:\000034}}
h5 {
  font-size: pem(16px);
  font-family: "MisoRegular";
  font-style: normal;
  color: #012233;
  line-height: 1.23;
  letter-spacing: 0;
  font-weight: 400;
  margin-top: 0.325em;
  margin-bottom: 0.625em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_typography\.scss}line{font-family:\0000316}}
  h5 a:link, h5 a:visited {
    color: #0f75bc;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_typography\.scss}line{font-family:\0000322}}
  h5 a:link, h5 a:visited, h5 a:hover, h5 a:focus, h5 a:active, h5 a.active, h5 a.active-trail {
    display: inline-block;
    vertical-align: bottom;
    font-family: "MisoRegular"; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_typography\.scss}line{font-family:\0000334}}
  h5 a:hover, h5 a:focus {
    color: #0a4168; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_typography\.scss}line{font-family:\000034}}
h6 {
  font-size: 1em;
  font-family: "MisoRegular";
  font-style: normal;
  color: #012233;
  line-height: 1.23;
  letter-spacing: 0;
  font-weight: 400;
  margin-top: 0.325em;
  margin-bottom: 0.625em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_typography\.scss}line{font-family:\0000316}}
  h6 a:link, h6 a:visited {
    color: #0f75bc;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_typography\.scss}line{font-family:\0000322}}
  h6 a:link, h6 a:visited, h6 a:hover, h6 a:focus, h6 a:active, h6 a.active, h6 a.active-trail {
    display: inline-block;
    vertical-align: bottom;
    font-family: "MisoRegular"; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_typography\.scss}line{font-family:\0000334}}
  h6 a:hover, h6 a:focus {
    color: #0a4168; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_typography\.scss}line{font-family:\0000342}}
a {
  color: #0f75bc;
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_typography\.scss}line{font-family:\0000346}}
  a:link, a:visited, a:hover, a:focus, a:active, a.active, a.active-trail {
    display: inline-block;
    vertical-align: bottom;
    font-family: "Droid Sans", "Arial", "Helvetica", "Lucida Grande", "Verdana", "Gill Sans", sans-serif; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/base\/_typography\.scss}line{font-family:\0000358}}
  a:hover, a:focus {
    color: #0a4168; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_branding\.scss}line{font-family:\000031}}
.site-logo {
  display: block;
  padding: 1.5em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_branding\.scss}line{font-family:\000036}}
.branding--tagline {
  font-family: "Lato", "Arial", "Helvetica", "Lucida Grande", "Verdana", "Gill Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase; }

@media screen and (min-width: 56.25em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_branding\.scss}line{font-family:\0000314}}
  .branding--tagline__date {
    width: 49.21875%;
    float: left;
    margin-right: 1.5625%;
    display: inline; } }

@media screen and (min-width: 56.25em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_branding\.scss}line{font-family:\0000320}}
  .branding--tagline__location {
    width: 49.21875%;
    float: left;
    margin-right: 1.5625%;
    display: inline;
    float: right;
    margin-right: 0;
    *margin-left: -1.2em;
    display: inline; } }

/**
 * Navigation bar.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\000034}}
#main-menu .menu--main-menu {
  background-color: transparent;
  padding: 1.5em 0;
  width: 100%;
  margin: 0;
  padding: 0; }

@media screen and (min-width: 56.25em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\0000314}}
  #main-menu .menu--main-menu > .level-1 {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\0000324}}
    #main-menu .menu--main-menu > .level-1 input {
      display: none;
      visibility: hidden; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\0000333}}
#main-menu .menu--main-menu > .level-1:hover > a, #main-menu .menu--main-menu > .level-1:focus > a {
  outline: 0; }
  @media screen and (min-width: 56.25em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\0000333}}
    #main-menu .menu--main-menu > .level-1:hover > a, #main-menu .menu--main-menu > .level-1:focus > a {
      margin: 0; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\0000343}}
#main-menu .menu--main-menu > .level-1 > a {
  font-size: 1.125em;
  line-height: 1.33333em;
  outline: none;
  text-transform: uppercase;
  padding: 1em 1.5em;
  display: block;
  font-weight: normal;
  font-family: "Droid Sans", "Arial", "Helvetica", "Lucida Grande", "Verdana", "Gill Sans", sans-serif; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\0000351}}
  #main-menu .menu--main-menu > .level-1 > a:link, #main-menu .menu--main-menu > .level-1 > a:visited {
    outline: 0;
    color: #929292;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\0000357}}
  #main-menu .menu--main-menu > .level-1 > a:active {
    background-color: #1a1a1a;
    outline: 0;
    color: #fcfcfc; }
  @media screen and (min-width: 56.25em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\0000343}}
    #main-menu .menu--main-menu > .level-1 > a {
      -moz-transition: all 300ms ease;
      -o-transition: all 300ms ease;
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease;
      background-color: transparent;
      display: inline-block; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\0000370}}
#main-menu .menu--main-menu ul {
  display: none;
  background-color: white;
  margin: 0; }
  @media screen and (min-width: 56.25em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\0000370}}
    #main-menu .menu--main-menu ul {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      left: 0;
      z-index: 9;
      min-width: 220px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\0000382}}
      li:last-child #main-menu .menu--main-menu ul, #main-menu .menu--main-menu li:last-child ul {
        left: auto;
        right: 0; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\0000390}}
#main-menu .menu--main-menu ul > .level-2 > a {
  color: #138ab5;
  display: block;
  padding: 10px 20px;
  text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\0000396}}
  #main-menu .menu--main-menu ul > .level-2 > a:hover, #main-menu .menu--main-menu ul > .level-2 > a:focus {
    background-color: rgba(74, 130, 148, 0.2); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003103}}
.w-navigation {
  border-top: 5px solid #a7a7a7;
  margin-top: 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003108}}
#main-menu {
  text-align: center;
  position: relative;
  outline: none !important;
  z-index: 5;
  /* Main menu and secondary menu links and menu block links. */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003115}}
  #main-menu *:focus {
    outline: none !important; }
  @media screen and (min-width: 56.25em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003108}}
    #main-menu {
      padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003123}}
      #main-menu #toggle-button,
      #main-menu [for="toggle-button"] {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px); } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003128}}
  #main-menu .block {
    margin-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003132}}
  #main-menu ul,
  #main-menu li {
    list-style-type: none;
    list-style-image: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003148}}
  #main-menu .menu--main-menu > .level-1.clicked ul {
    display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003164}}
#main-menu {
  position: relative;
  outline: none !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003169}}
  #main-menu *:focus {
    outline: none !important; }
  @media screen and (max-width: 56.249em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003175}}
    #main-menu > ul.menu--main-menu {
      -moz-transform: scaleY(0);
      -ms-transform: scaleY(0);
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      -moz-transform-origin: 50% 0%;
      -ms-transform-origin: 50% 0%;
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
      -moz-transition-property: -moz-transform, max-height;
      -o-transition-property: -o-transform, max-height;
      -webkit-transition-property: -webkit-transform, max-height;
      transition-property: transform max-height;
      -moz-transition-duration: 600ms;
      -o-transition-duration: 600ms;
      -webkit-transition-duration: 600ms;
      transition-duration: 600ms;
      -moz-transition-delay: 0ms;
      -o-transition-delay: 0ms;
      -webkit-transition-delay: 0ms;
      transition-delay: 0ms;
      max-height: 0;
      height: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003185}}
    #main-menu label[for="toggle-button"] {
      width: 40px;
      height: 49px;
      margin: 10px 20px;
      display: block;
      background: url(../images/hamburger.png) no-repeat center;
      position: absolute;
      right: 0;
      bottom: 100%; } }
  @media screen and (max-width: 56.249em) and (min-width: 56.25em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003185}}
    #main-menu label[for="toggle-button"] {
      display: none;
      visibility: hidden; } }
  @media screen and (max-width: 56.249em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003200}}
    #main-menu input#toggle-button[type=checkbox]:checked ~ label[for="toggle-button"] {
      color: #ececec; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003203}}
      #main-menu input#toggle-button[type=checkbox]:checked ~ label[for="toggle-button"]:after {
        background-color: #929292;
        color: #ececec; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003209}}
    #main-menu input#toggle-button[type=checkbox]:checked ~ ul.menu--main-menu {
      -moz-box-shadow: 0 2px 32px 3px rgba(146, 146, 146, 0.7);
      -webkit-box-shadow: 0 2px 32px 3px rgba(146, 146, 146, 0.7);
      box-shadow: 0 2px 32px 3px rgba(146, 146, 146, 0.7);
      -moz-transform: scaleY(1);
      -ms-transform: scaleY(1);
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      -moz-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
      -webkit-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      -moz-transition-property: -moz-transform, max-height;
      -o-transition-property: -o-transform, max-height;
      -webkit-transition-property: -webkit-transform, max-height;
      transition-property: transform max-height;
      -moz-transition-duration: 600ms;
      -o-transition-duration: 600ms;
      -webkit-transition-duration: 600ms;
      transition-duration: 600ms;
      -moz-transition-delay: 0ms;
      -o-transition-delay: 0ms;
      -webkit-transition-delay: 0ms;
      transition-delay: 0ms;
      max-height: 9999px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003220}}
  #main-menu input#toggle-button[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003227}}
#main-menu .menu--main-menu .dropdown {
  position: relative; }
  @media screen and (max-width: 56.249em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003231}}
    #main-menu .menu--main-menu .dropdown [data-toggle="dropdown"] {
      display: block;
      padding: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003235}}
      #main-menu .menu--main-menu .dropdown [data-toggle="dropdown"]:before {
        -moz-transition: -moz-transform 300ms;
        -o-transition: -o-transform 300ms;
        -webkit-transition: -webkit-transform 300ms;
        transition: transform 300ms;
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        position: absolute;
        display: block;
        content: '\25BC';
        font-size: 0.7em;
        top: 1em;
        right: 1.5em;
        z-index: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003247}}
      #main-menu .menu--main-menu .dropdown [data-toggle="dropdown"]:after {
        background-color: rgba(226, 226, 226, 0.3);
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 44px;
        min-width: 44px;
        height: 100%;
        max-height: 44px;
        cursor: pointer;
        z-index: 2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003263}}
    #main-menu .menu--main-menu .dropdown > .dropdown-menu {
      -moz-transform: scaleY(0);
      -ms-transform: scaleY(0);
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      -moz-transform-origin: 50% 0%;
      -ms-transform-origin: 50% 0%;
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
      -moz-transition-property: max-height, -moz-transform;
      -o-transition-property: max-height, -o-transform;
      -webkit-transition-property: max-height, -webkit-transform;
      transition-property: max-height, transform;
      -moz-transition-duration: 600ms, 300ms;
      -o-transition-duration: 600ms, 300ms;
      -webkit-transition-duration: 600ms, 300ms;
      transition-duration: 600ms, 300ms;
      -moz-transition-delay: 0s, 0s;
      -o-transition-delay: 0s, 0s;
      -webkit-transition-delay: 0s, 0s;
      transition-delay: 0s, 0s;
      max-height: 0;
      overflow: hidden;
      background-color: rgba(226, 226, 226, 0.3);
      display: block;
      margin: 0;
      padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003276}}
      #main-menu .menu--main-menu .dropdown > .dropdown-menu li {
        padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003279}}
        #main-menu .menu--main-menu .dropdown > .dropdown-menu li a {
          display: block;
          padding: 10px 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003286}}
    #main-menu .menu--main-menu .dropdown > input[type="checkbox"] {
      opacity: 0;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 44px;
      min-width: 44px;
      height: 100%;
      max-height: 44px;
      cursor: pointer;
      z-index: 3; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003299}}
      #main-menu .menu--main-menu .dropdown > input[type="checkbox"]:checked ~ .dropdown-menu {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -moz-transition-property: max-height, -moz-transform;
        -o-transition-property: max-height, -o-transform;
        -webkit-transition-property: max-height, -webkit-transform;
        transition-property: max-height, transform;
        -moz-transition-duration: 600ms, 300ms;
        -o-transition-duration: 600ms, 300ms;
        -webkit-transition-duration: 600ms, 300ms;
        transition-duration: 600ms, 300ms;
        -moz-transition-delay: 0s, 0s;
        -o-transition-delay: 0s, 0s;
        -webkit-transition-delay: 0s, 0s;
        transition-delay: 0s, 0s;
        max-height: 9999px;
        /* height: auto; */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003309}}
      #main-menu .menu--main-menu .dropdown > input[type="checkbox"]:checked + a[data-toggle="dropdown"]:before {
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg); } }
  @media screen and (min-width: 56.25em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003317}}
    #main-menu .menu--main-menu .dropdown > input[type="checkbox"] {
      display: none;
      visibility: hidden;
      opacity: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003323}}
    #main-menu .menu--main-menu .dropdown [data-toggle="dropdown"] {
      position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003326}}
      #main-menu .menu--main-menu .dropdown [data-toggle="dropdown"]:before, #main-menu .menu--main-menu .dropdown [data-toggle="dropdown"]:after {
        display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003331}}
      #main-menu .menu--main-menu .dropdown [data-toggle="dropdown"] i {
        background: url(../images/dropdown.png) no-repeat center center transparent;
        display: inline-block;
        position: absolute;
        width: 18px;
        height: 10px;
        margin-left: -9px;
        vertical-align: top;
        top: 100%;
        left: 50%;
        opacity: 0.2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003345}}
    #main-menu .menu--main-menu .dropdown .dropdown-menu {
      -moz-transform: scaleY(0);
      -ms-transform: scaleY(0);
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      -moz-transform-origin: 50% 0%;
      -ms-transform-origin: 50% 0%;
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
      -moz-transition-property: max-height, -moz-transform;
      -o-transition-property: max-height, -o-transform;
      -webkit-transition-property: max-height, -webkit-transform;
      transition-property: max-height, transform;
      -moz-transition-duration: 600ms, 300ms;
      -o-transition-duration: 600ms, 300ms;
      -webkit-transition-duration: 600ms, 300ms;
      transition-duration: 600ms, 300ms;
      -moz-transition-delay: 0s, 0s;
      -o-transition-delay: 0s, 0s;
      -webkit-transition-delay: 0s, 0s;
      transition-delay: 0s, 0s;
      display: block;
      max-height: 0;
      top: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003356}}
    #main-menu .menu--main-menu .dropdown:hover, #main-menu .menu--main-menu .dropdown:focus {
      overflow: visible; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/BLadwin\/Sites\/DevSigner\/2014\/site\/sites\/all\/themes\/devsignercon\/sass\/components\/_navigation\.scss}line{font-family:\00003360}}
      #main-menu .menu--main-menu .dropdown:hover > .dropdown-menu, #main-menu .menu--main-menu .dropdown:focus > .dropdown-menu {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -moz-transition-property: max-height, -moz-transform;
        -o-transition-property: max-height, -o-transform;
        -webkit-transition-property: max-height, -webkit-transform;
        transition-property: max-height, transform;
        -moz-transition-duration: 600ms, 300ms;
        -o-transition-duration: 600ms, 300ms;
        -webkit-transition-duration: 600ms, 300ms;
        transition-duration: 600ms, 300ms;
        -moz-transition-delay: 0s, 0s;
        -o-transition-delay: 0s, 0s;
        -webkit-transition-delay: 0s, 0s;
        transition-delay: 0s, 0s;
        max-height: 9999px; } }
